<!DOCTYPE html>
<html>
  <head>
    <title>@philtr | Open Source Projects by Phillip Ridlen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <script type="text/javascript" src="//use.typekit.net/dwj7ult.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="container">

      {% include header.html %}

      {{ content }}

      <footer>
        <hr />
        <p>Made with love by <a href="http://phillipridlen.com">Phillip Ridlen</a>.</p>
      </footer>

    </div>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
